In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel('/content/Datafile_2.xlsx')
df.head()

,Id,Url,Title,Breadcrumb,Address,City,PossesionDate,builtuparea,CarpetArea,Amenities,...,AgeOfProperty,Buildingname,Bedroom,bathroom,parking,price,Built up area Rate,Facing,Floors,Images
0,1,https://housing.com/in/buy/resale/page/2760130...,2 BHK Apartment,Home | Thane | Thane West | 2760130 |,"Swastik Regalia, Thane West, Thane",thane,Ready to move in,910 sq. ft.,700 sq. ft.,NaN,...,10 Years,Swastik Regalia,2,2.0,NaN,95.0 L,10.44 K per sq. ft.,NaN,Lower of 7 floors,NaN
1,2,https://housing.com/in/buy/resale/page/2757498...,2 BHK Apartment,Home | Thane | Thane West | 2757498 |,"Amara, Thane West, Thane",thane,"June, 2019",875 sq. ft.,660 sq. ft.,NaN,...,NaN,NaN,2,2.0,NaN,1.15 Cr,13.14 K per sq. ft.,NaN,,https://is1-2.housingcdn.com/01c16c28/54bf6a0d...
2,3,https://housing.com/in/buy/resale/page/2753188...,2 BHK Apartment,Home | Thane | Thane West | 2753188 |,"Vijay Galaxy Tower 1, Waghbil Naka, Thane West...",thane,Ready to move in,999 sq. ft.,638 sq. ft.,ParkingLiftSwimming PoolSports FacilityKids Ar...,...,3 Years,Vijay Galaxy Tower 1,2,2.0,1.0,1.1 Cr,11.01 K per sq. ft.,West,Middle of 17 floors,NaN
3,4,https://housing.com/in/buy/resale/page/2747709...,2 BHK Apartment,Home | Thane | Shilphata | 2747709 |,"Flat No 1705, Shil-phata, 17 Floor, Near Mahap...",thane,Ready to move in,945 sq. ft.,651 sq. ft.,NaN,...,0 Years,NaN,1,2.0,NaN,67.0 L,7089.00 per sq. ft.,North-East,Higher of 21 floors,NaN
4,5,https://housing.com/in/buy/resale/page/2750468...,1 BHK Apartment,Home | Thane | Thane West | 2750468 |,"Puraniks Kanchan Pushp Society, Thane West, Thane",thane,Ready to move in,490 sq. ft.,400 sq. ft.,LiftKids AreaGardenGas PipelineGated Community,...,15 Years,NaN,1,1.0,NaN,54.0 L,11.02 K per sq. ft.,East,Higher of 7 floors,https://is1-2.housingcdn.com/01c16c28/037ddf6b...

In [ ]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9446 entries, 0 to 9445
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   9446 non-null   int64
 1   Url                  9446 non-null   object
 2   Title                9446 non-null   object
 3   Breadcrumb           9446 non-null   object
 4   Address              9446 non-null   object
 5   City                 9446 non-null   object
 6   builtuparea          9446 non-null   object
 7   CarpetArea           9446 non-null   object
 8   Amenities            7787 non-null   object
 9   Latitude             9446 non-null   float64
 10  Longitude            9446 non-null   float64
 11  AgeOfProperty        6858 non-null   object
 12  Bedroom              9446 non-null   int64
 13  bathroom             8083 non-null   float64
 14  price                9446 non-null   float64
 15  Built up area Rate   9446 non-null   object
 16  Facing               7610 non-null   object
 17  Floors               9446 non-null   object
 18  Images               8005 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB

In [ ]:
df.isnull().sum()

Id                        0
Url                       0
Title                     0
Breadcrumb                0
Address                   0
City                      0
builtuparea               0
CarpetArea                0
Amenities              1659
Latitude                  0
Longitude                 0
AgeOfProperty          2588
Bedroom                   0
bathroom               1363
price                     0
Built up area Rate        0
Facing                 1836
Floors                    0
Images                 1441
dtype: int64

In [ ]:
df[["Amenities","AgeOfProperty","Facing","bathroom"]]

,Amenities,AgeOfProperty,Facing,bathroom
0,NaN,10 Years,NaN,2.0
1,NaN,NaN,NaN,2.0
2,ParkingLiftSwimming PoolSports FacilityKids Ar...,3 Years,West,2.0
3,NaN,0 Years,North-East,2.0
4,LiftKids AreaGardenGas PipelineGated Community,15 Years,East,1.0
...,...,...,...,...
9441,ParkingPower BackupWater SupplyLiftSwimming Po...,3 Years,South-West,3.0
9442,Power BackupWater SupplyLiftSwimming PoolSport...,4 Years,North-West,2.0
9443,Power BackupWater SupplyLiftSwimming PoolSport...,4 Years,South-East,2.0
9444,Power BackupWater SupplyLiftSwimming PoolSport...,3 Years,North-East,1.0
9445,ParkingPower BackupWater SupplyLiftSwimming Po...,5 Years,South-East,2.0

In [ ]:
df[bathroom].unique()

In [ ]:

df["AgeOfProperty"]=df["AgeOfProperty"].str.replace("Years","",regex=False)
df["AgeOfProperty"].dropna(inplace=True)
df["AgeOfProperty"]

In [ ]:
from sklearn.impute import KNNImputer
import pandas as pd

# Assuming df is your DataFrame and 'AgeOfProperty' is the column with missing values
df["AgeOfProperty"]=df["AgeOfProperty"].str.replace("Year","",regex=False)
# 1. Create a KNNImputer object
imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors (n_neighbors)

# 2. Select relevant numerical features for imputation (including 'AgeOfProperty')
features_for_imputation = ['AgeOfProperty', 'CarpetArea', 'price', 'bathroom']
# Add any other relevant numerical features that might be correlated with 'AgeOfProperty'

# 3. Create a subset of the DataFrame with the selected features
df_subset = df[features_for_imputation]

# 4. Apply KNN imputation to the subset
df_imputed = pd.DataFrame(imputer.fit_transform(df_subset), columns=features_for_imputation)

# 5. Update the original DataFrame with the imputed values for 'AgeOfProperty'
df['AgeOfProperty'] = df_imputed['AgeOfProperty']

In [ ]:
df.dropna(axis=1, thresh=3000, inplace=True)  # Remove columns with missing values above a threshold

In [ ]:
# Check the actual column names in your DataFrame
print(df.columns)

# Correct the column name if there is a typo
# For example, if the actual column name is 'Possession Date', use:
df['PossesionDate'].fillna(df['PossesionDate'].mode()[0], inplace=True)

# If the column is missing, handle it appropriately (e.g., skip imputation)
if 'PossesionDate' in df.columns:
    df['PossesionDate'].fillna(df['PossesionDate'].mode()[0], inplace=True)
else:
    print("Column 'PossesionDate' not found in the DataFrame.")

# Convert 'CarpetArea' column to numeric, handling errors
df['CarpetArea'] = pd.to_numeric(df['CarpetArea'], errors='coerce')

# Now fill NaN values with the mean
df['CarpetArea'].fillna(df['CarpetArea'].mean(), inplace=True)

Index(['Id', 'Url', 'Title', 'Breadcrumb', 'Address', 'City', 'PossesionDate',
       'builtuparea', 'CarpetArea', 'Amenities', 'Latitude', 'Longitude',
       'Building name-1', 'AgeOfProperty', 'Buildingname', 'Bedroom',
       'bathroom', 'parking', 'price', 'Built up area Rate ', 'Facing',
       'Floors', 'Images'],
      dtype='object')

<ipython-input-58-ef5a2bc943ff>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PossesionDate'].fillna(df['PossesionDate'].mode()[0], inplace=True)
<ipython-input-58-ef5a2bc943ff>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CarpetArea'].fillna(df['CarpetArea'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Id                        0
Url                       0
Title                     0
Breadcrumb                0
Address                   0
City                      0
builtuparea               0
CarpetArea                0
Amenities              1659
Latitude                  0
Longitude                 0
AgeOfProperty          2588
Bedroom                   0
bathroom               1363
price                     0
Built up area Rate        0
Facing                 1836
Floors                    0
Images                 1441
dtype: int64

In [ ]:
df.drop(["Building name-1","Buildingname","parking"], axis=1, inplace=True)

In [ ]:
# Convert to a specific data type
from datetime import datetime
df['Title'] = df['Title'].astype(str)
df['Url'] = df['Url'].astype(str)
df['CarpetArea'] = df['CarpetArea'].astype(str)
df['PossesionDate'] = pd.to_datetime(df['PossesionDate'], errors='coerce')
df['price'] = df['price'].str.replace(r'[^\d.]', '', regex=True) #Remove non-numeric characters using regex
df['price'] = pd.to_numeric(df['price'], errors='coerce').astype(float) # Convert to numeric, handle errors, then to float

<ipython-input-59-e53d7216a791>:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['PossesionDate'] = pd.to_datetime(df['PossesionDate'], errors='coerce')

In [ ]:
df.columns

Index(['Id', 'Url', 'Title', 'Breadcrumb', 'Address', 'City', 'PossesionDate',
       'builtuparea', 'CarpetArea', 'Amenities', 'Latitude', 'Longitude',
       'AgeOfProperty', 'Bedroom', 'bathroom', 'price', 'Built up area Rate ',
       'Facing', 'Floors', 'Images'],
      dtype='object')

r'[^\d.]': This is the regular expression pattern. Let's dissect it:

r'': This denotes a raw string, which is used for regular expressions.
[^...]: This part inside square brackets defines a character class. The ^ at the beginning means "not". So, this part is saying "match any character that is not..."
\d: Matches any digit (0-9).
. : Matches a period (literal dot).
'': This is the replacement string. It's an empty string, which means any matched characters will be replaced with nothing (effectively removed).
regex=True: This argument tells str.replace() to treat the first argument as a regular expression.